{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center h-100" style="margin-top: 100px;">
            <div class="card">
                <div class="card-header">
                    <h3>Daxil Ol</h3>
                    {#                    <div class="d-flex justify-content-end social_icon">#}
                    {#                        <span><i class="fab fa-facebook-square"></i></span>#}
                    {#                        <span><i class="fab fa-google-plus-square"></i></span>#}
                    {#                        <span><i class="fab fa-twitter-square"></i></span>#}
                    {#                    </div>#}
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for home in login_form %}
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <label style="color:white;">{{ home.label }}</label>
                                </div>
                                {{ home }}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <input type="submit" value="Daxil Ol" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"></div>

{% endblock %}